*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bcb: black;
  --bcba: #242a49;
  --bca: white;
  --bcwt: rgba(255, 255, 255, 0.11);
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  margin: 10px 0;
}

.container {
  width: 100vw;
  color: var(--bcba);
  padding: 5px 3px;
  padding-bottom: 70px;
  border: none;
}

.container a,
input,
.container form h4 {
  color: aqua;
}

.container input {
  width: 100%;
}

.container select {
  background-color: var(--bcba);
}

.container a {
  background-color: var(--bcba);
  padding: 3px 10px;
  border-radius: 5px;
}

.container input,
select {
  display: block;
  border-radius: 5px;
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  color: aqua;
}

.container input {
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.container input:focus {
  border: none;
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.container button {
  height: 50px;
  padding: 0 40px;
}
/* menghilangkan jarak margin h3 di output */
.output h3 {
  margin: 0;
}

.none {
  display: none;
}

/* pages add */
.navbar ul li a {
  color: aqua;
}

.container form button {
  color: aqua;
  cursor: pointer;
}
/* input group */
.formInput {
  background-color: var(--bcba);
  padding: 40px;
  border-radius: 15px;
  margin-bottom: 45px;
}
.container-passwords {
  margin-bottom: 45px;
  background-color: #242a49;
  border-radius: 15px;
  padding: 40px;
}

.elementPw {
  height: 100px;
  margin: 10px 0;
  color: var(--bca);
}

.elementPw label {
  margin-bottom: -10px;
}

.elementPw input {
  height: 50px;
}

.elementPw button.copy {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 65px;
  left: 90%;
  background-image: url(http://localhost:3000/src/icons/clipboard.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.elementPw button.copy.password {
  left: 86%;
}

.elementPw button.copy:active {
  background-image: url(http://localhost:3000/src/icons/clipboard-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.elementPw > button.showButton {
  padding: 0;
  width: 20px;
  bottom: 80px;
  left: 85%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: transparent;
}
footer .powerby {
  background-color: white;
  border-top-right-radius: 10px;
  width: 250px;
  margin: 0;
  padding: 15px 10px;
}
footer .powerby a {
  background-color: var(--bcba);
  padding: 3px 10px;
  border-radius: 5px;
  color: aqua;
}

footer div {
  display: flex;
  background-color: var(--bcba);
  justify-content: space-around;
  padding: 20px;
  color: aqua;
}

button {
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.07);
  color: aqua;
}
footer button {
  background-color: none;
}
.input-group {
  height: 70px;
  overflow: hidden;
}

button.showButton {
  background-color: transparent;
  position: relative;
  color: white;
  bottom: 65px;
  left: 90%;
}

button.back {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 650px) {
  button.showButton {
    left: 80%;
    padding: 0 21px;
  }

  .elementPw button.copy {
    left: 80%;
  }

  .elementPw button.copy.password {
    left: 71%;
  }

  .elementPw > button.showButton {
    left: 70%;
  }

  .elementPw button.copy:hover {
    background-image: url(http://localhost:3000/src/icons/clipboard-check.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: 800px) {
  .elementPw > button.showButton {
    left: 92%;
  }

  .elementPw button.copy {
    left: 95%;
  }

  .elementPw button.copy.password {
    left: 92.5%;
  }
}
