*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bcb: black;
  --bcba: #080710; 
  --bca: white;
  --bcwt: rgba(255,255,255,0.11);
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(47,48,50,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: 'Poppins',sans-serif;
}
#categoryForm #category{
  color: aqua;
}
.container > h3{
  font-size: 1.4rem;
}
.container {
  margin: auto;
  margin-top: 5vw;
  width: 90vw;
  color: var(--bca);
  padding: 40px;
  background-color: var(--bcwt) ;
  border-radius: 15px;
  border: none;
  margin-bottom: 100px;
}
.container form h4{
  color: aqua;
}
.container a,input{
  color: aqua;
}
.container input {
  width: 100%;
}
.container input, select{
  display: block;
  border-radius: 5px;
  height: 50px;
  margin: 4px 0;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  background-color: rgba(255,255,255,0.07);
  color: aqua;
}
.container input:focus{
  border: none;
  outline: none;
}
.container button{
  height: 50px;
  padding: 0 40px;
}
/* pages add */
.navbar ul li a {
  color: aqua;
}
.container form button{
  color: aqua;
  cursor: pointer;
}
/* input group */
h1,form {
  margin-bottom: 20px;
}
.container-passwords {
  margin-bottom: 50px;
  margin-top: 50px;
}
.elementPw{
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  height: 50px;
  margin-bottom: 15px;
}
.elementPw p {
  width: 40%;
  text-align: start;
  padding: 2px;
}
.elementPw p, .elementPw button{
  display: flex;
  height: 40px;
  align-items: center;
  overflow: auto;
}
.elementPw button{
  justify-content: center;
  flex-wrap: nowrap;
  border: none;
  width: 20%;
  
}

.elementPw button.copy {
  background-image: url(http://localhost:3000/src/icons/clipboard.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.elementPw button.copy:active {
  background-image: url(http://localhost:3000/src/icons/clipboard-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

footer{
  margin: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}
footer div{
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px;
  color: aqua;
}
button{
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, .07);
  color: aqua;
}
.button{
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, .07);
  color: aqua;
  height: 40px;
}
footer button {
  border: none;
}
@media(max-width: 650px){
  .container{
    width: 90vw;
  }
}