* {
  margin: 0;
  padding: 0;
}

body {
  color: darkslategrey;
  background-color: azure;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  height: 100vh;
}
.container-ket {
  font-size: large;
  padding: 0 40px;
}
.container p {
  font-weight: bold;
}

.container div h3 {
  font-weight: bold;
}
